<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <script src="https://kit.fontawesome.com/2dff5b8076.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
</head>

<body>
    <div class="container">
        <div class="container-item">
            <h1>
                TODO App
            </h1>
        </div>
        <form action="/tasks/add" method="POST">
            <div class="container-item">
                <label for="idDesc">DESCRIPTION</label>
                <input id="idDesc" placeholder="What do you need to do?" name="desc"></input>
            </div>
            <div class="container-item-inline">
                <label for="idCategory">CATEGORY</label>
                <select name="category" id="idCategory">
                    <option value="">Choose a category</option>
                    <option value="Work">Work</option>
                    <option value="School">School</option>
                    <option value="Cleaning">Cleaning</option>
                    <option value="Other">Other</option>
                </select>
                <label for="idDate">Due Date</label>
                <input id="idDate" type="date" placeholder="dd/mm/yyyy" name="date"></input>
            </div>
            <div class="container-item">
                <Button id="idAdd" type="submit"><i class="fas fa-plus"></i> ADD TASK</Button>
                <Button id="idDelete" onclick="submit_delete()" formaction="/tasks/delete"><i class="fas fa-trash-alt"></i> DELETE TASKS</Button>
            </div>
            <% for(let i of tasks_list) { %>
            <div class="container-item">
                <div class="outer-div">
                    <div class="inner-div1">
                        <input type="checkbox" name="chkbox" id="chkbox" onchange="strikeout()"
                            style="display: inline">
                        <label id="idLblchkbox" for="chkbox" name="chkboxLbl"><%= i.desc %></label>
                        <br>
                        <i class="fas fa-calendar-alt ListItem"><%= i.date %></i>
                        <input id="desc" name="descr" style="visibility: hidden;" value="<%= i.desc %>"></input>
                    </div>

                    <div class="inner-div2">
                        <button class="btnCategory"
                            style="margin-left: 25%;margin-top: 5%;margin-bottom: 5%;margin-right: 15%;"><%= i.category %></button>
                    </div>

                </div>
            </div>
            <% } %>
        </form>




    </div>
    <script>
        var elements = document.getElementsByClassName("btnCategory");
        for (let i of elements) {
            switch (i.innerText) {
                case "Work":
                    i.style.backgroundColor = "skyblue";
                    continue;
                case "School":
                    i.style.backgroundColor = "yellow";
                    continue;
                case "Cleaning":
                    i.style.backgroundColor = "red";
                    continue;
                case "Other":
                    i.style.backgroundColor = "orange";
                    continue;
                default:
                    break;
            }

        }

        function strikeout() {
            if (event.srcElement.checked) {
                event.srcElement.nextElementSibling.style.textDecoration = "line-through";    
            } else {
                event.srcElement.nextElementSibling.style.textDecoration = "";    
            }
            
            //     for (let i of listItem) {
            //         if (listItemchck.checked) {
            //             i.style.textDecoration = "line-through";
            //         } else {
            //             i.style.textDecoration = "";
            //         }

        }

        function submit_delete() {
            var Lbls = document.getElementsByName("chkboxLbl");
            for (let index = 0; index < Lbls.length; index++) {
                let element = Lbls[index];
                if (element.style.textDecoration != "line-through") {
                    element.nextElementSibling.nextElementSibling.nextElementSibling.value = "" ;
                }
            }
        }


    </script>
</body>

</html>