<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <script src="https://kit.fontawesome.com/2dff5b8076.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
</head>

<body>
    <div class="container">
        <div class="container-item">
            <h1>
                TODO App
            </h1>
        </div>
        <form action="/tasks/add" method="POST">
            <div class="container-item">
                <label for="idDesc">DESCRIPTION</label>
                <input id="idDesc" placeholder="What do you need to do?" name="desc"></input>
            </div>
            <div class="container-item-inline">
                <label for="idCategory">CATEGORY</label>
                <select name="category" id="idCategory">
                    <option value="">Choose a category</option>
                    <option value="work">Work</option>
                    <option value="school">School</option>
                    <option value="cleaning">Cleaning</option>
                    <option value="other">Other</option>
                </select>
                <label for="idDate">Due Date</label>
                <input id="idDate" type="date" placeholder="dd/mm/yyyy" name="date"></input>
            </div>
            <div class="container-item">
                <Button id="idAdd" type="submit"><i class="fas fa-plus"></i> ADD TASK</Button>
                <Button id="idDelete" type="submit"><i class="fas fa-trash-alt"></i> DELETE TASKS</Button>
            </div>
        </form>


        <% for(let i of tasks_list) { %>
        <div class="container-item">
            <input type="checkbox" id="listItem" name="listItem">
            <label for="listItem"><%= i.desc %><%= i.category %></label><br>
            <i class="fas fa-calendar-alt"><%= i.date %></i>

        </div>
        <% } %>
    </div>
    <!-- <div class="container">
        <div class="container-item">
            <h1>ToDo App</h1>
        </div>
            <form action="/add-task" method="POST">
                <div class="container-item">
                    <label for="idDesc">DESCRIPTION</label>
                    <input id="idDesc" placeholder="What do you need to do?"></input>
                </div>

                <div class="container-item">
                    <label for="idCategory">CATEGORY</label>
                    <select name="category" id="idCategory">
                        <option value="">Choose a category</option>
                        <option value="work">Work</option>
                        <option value="school">School</option>
                        <option value="cleaning">Cleaning</option>
                        <option value="other">Other</option>
                    </select>
                    <label for="idDate">Due Date</label>
                    <input id="idDate" type="date" placeholder="dd/mm/yyyy"></input>
                </div>

                <div>
                    <Button type="submit">ADD TASK</Button>
                    <Button type="submit">DELETE TASKS</Button>
                </div>

            </form>
        
        <div class="container-item">
            <% for(let i of tasks_list) { %>
            <li><%= i.desc %></li>
            <li><%= i.category %></li>
            <li><%= i.date %></li>
            <% } %>
        </div>
    </div>     -->
</body>

</html>